*{
    margin: 0px;
}

.box{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 30px 10px;
}

.box2{
    background-color: rgb(231, 108, 7);
    height: 100px;
    width: 100px;
    margin: 20px 10px;
}